@mixin shadow--left {
  -moz-box-shadow: -$size--medium 0 $size--large 0 transparentize(color(shadow), 0.8);
  -webkit-box-shadow: -$size--medium 0 $size--large 0 transparentize(color(shadow), 0.8);
  box-shadow: -$size--medium 0 $size--large 0 transparentize(color(shadow), 0.8);
}

@mixin shadow--left-inset {
  box-shadow: inset 7px 0 9px -7px color(transparent-black);
}

@mixin shadow__custom-marker {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

@mixin shadow__custom-marker--hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
