@mixin shadow--left {
  -moz-box-shadow: -$size--medium 0 $size--large 0 transparentize(color(black), 0.8);
  -webkit-box-shadow: -$size--medium 0 $size--large 0 transparentize(color(black), 0.8);
  box-shadow: -$size--medium 0 $size--large 0 transparentize(color(black), 0.8);
}

@mixin shadow--left-inset {
  box-shadow: inset 7px 0 9px -7px transparentize(color(black), 0.4);
}

@mixin shadow__custom-marker {
  box-shadow: 0 4px 8px 0 transparentize(color(black), 0.5);
}

@mixin shadow__custom-marker--hover {
  box-shadow: 0 8px 16px 0 transparentize(color(black), 0.5);
}

@mixin greyscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@mixin mq($key) {
  @if breakpoint($key) {
    @media #{breakpoint($key)} {
      @content;
    }
  }
}

@mixin filter--brown {
  filter: hue-rotate(333deg) saturate(70%);
}
