$size--tiny: 3px;
$size--small: 3 * $size--tiny;
$size--medium: 2 * $size--small;
$size--large: 3 * $size--small;
$size--giant: 5 * $size--large;

$main-container-width: percentage(0.7);

$colors: (
        text: #333333,
        border: #cccccc,
        faded: #cccccc,
        card: slategray,
        shadow: #333333
);

$layers: (
        sideBar,
        mainContainer
)
