$size--tiny: 3px;
$size--small: 3 * $size--tiny;
$size--medium: 2 * $size--small;
$size--large: 3 * $size--small;
$size--extralarge: 2 * $size--large;
$size--giant: 5 * $size--large;

$main-container-width: percentage(0.7);

$colors: (
        text: #333333,
        border: #cccccc,
        faded: #cccccc,
        card: slategray,
        shadow: #333333,
        transparent-black: rgba(0, 0, 0, 0.6),
        side-bar: #ecf0f1
);

$layers: (
        sideBar,
        mainContainer
);


$font-sizes: (
        medium: 20px
);
