@mixin filter--greyscale {
  filter: grayscale(100%);
}

@mixin filter--sepia {
  filter: sepia(1) hue-rotate(350deg) saturate(55%);
}

@mixin filter--brown {
  filter: hue-rotate(333deg) saturate(70%);
}
