.about-toggle {
  position: absolute;
  bottom: 0;
  right: 0;

  padding: $size--tiny;

  background: transparentize(color(brown), 0.4);
  @include layer(aboutToggle);

  font-size: 0.8rem;
  color: color(white);

  &:hover {
    text-decoration: underline;
  }
}
