.taskbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: $size--small;

  background-color: color(brown);

  color: color(white);

  text-align: center;

  @include layer(taskbar);

  @include shadow--bottom;

  @include shadow--bottom-inset-small;



  transition: all 1.5s;
  transform: translate(0, 0);

  @include font-size(normal);
}

.taskbar--hidden {
  transform: translate(0, -500%);
}
