.taskbar {
  position: absolute;
  top: 0;
  left: 0;
  width: $main-container-width;
  padding: $size--small;

  background-color: color(faded);

  z-index: layer(taskbar);

  @include shadow--bottom;

  transition: all 1.5s;
  transform: translate(0, 0);

  font-size: font-size(normal);
}

.taskbar--hidden {
  transform: translate(0, -500%);
}
