$banner-height: 3rem;
$detail-sidebar-image-height: 30%;

.detail-side-bar {
  width: 100%;
  background: color(map);
  height: 100%;
  @include shadow--left-inset;

  .detail-side-bar__image {
    width: 100%;
    height: $detail-sidebar-image-height;
    position: relative;

    background: color(map);
    @include center-background-image();

    @include filter--brown;
  }

  .detail-side-bar__content {
    display: flex;
    flex-direction: column;

    height: 100% - $detail-sidebar-image-height;

    h2 {
      display: flex;
      align-items: center;

      width: 50%;
      min-width: 170px;
      height: $banner-height;

      padding: $size--small 50px $size--small $size--medium;
      margin-bottom: $size--small;

      position: relative;
      color: color(white);
      font-weight: bold;

      background: color(brown);
    }

    p {
      padding: 0 $size--medium $size--medium;
      margin: 0;

      overflow: scroll;
    }
  }
}
