@mixin card--shaking {
  right: $size--large;
}

@keyframes shake {
  0% {
    right: 0;
  }
  97% {
    right: 0;
  }
  98% {
    @include card--shaking;
  }
  99% {
    @include card--shaking;
  }
  100% {
    right: 0;
  }
}

.card {
  position: relative;
  right: 0;

  height: percentage(1/$cards-in-sidebar);
  width: 100%;

  background: color(card);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  cursor: pointer;

  transition: right $animation-default-length;

  @include filter--brown;

  &:hover {
    @include card--shaking;
  }

  h2 {
    position: absolute;
    left: 0;
    top: $size--large;
    width: 100%;

    span {
      color: color(white);
      font-weight: bold;
      background: color(black);
      padding: $size--small;
    }
  }

}

.card--isIdle {
  //animation-name: shake;
  //animation-duration: 10s;
  //animation-iteration-count: infinite;
  //animation-timing-function: ease-in-out;

  //@for $i from 1 through 10 {
  //  &:nth-of-type(#{$i}) {
  //    animation-delay: random(60)+s;
  //  }
  //}
}
