@mixin card--shaking {
  right: $size--large;
}

@keyframes shake {
  0% {
    right: 0;
  }
  97% {
    right: 0;
  }
  98% {
    @include card--shaking;
  }
  99% {
    @include card--shaking;
  }
  100% {
    right: 0;
  }
}

.card {
  position: relative;
  right: 0;

  height: 20%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  -webkit-transition: right $animation-default-length;
  -moz-transition: right $animation-default-length;
  -o-transition: right $animation-default-length;
  -ms-transition: right $animation-default-length;
  transition: right $animation-default-length;

  &:hover {
    @include card--shaking;
  }

  h2 {
    position: absolute;
    left: 0;
    top: $size--large;
    width: 100%;

    span {
      color: white;
      font-weight: bold;
      background: rgb(0, 0, 0); /*fallback*/
      background: color(transparent-black);
      padding: $size--small;
    }
  }

}

.card--isIdle {
  //animation-name: shake;
  //animation-duration: 10s;
  //animation-iteration-count: infinite;
  //animation-timing-function: ease-in-out;

  //@for $i from 1 through 10 {
  //  &:nth-of-type(#{$i}) {
  //    animation-delay: random(60)+s;
  //  }
  //}
}
