.custom-marker {
  position: relative;

  height: 170px;
  width: 170px;

  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @include shadow__custom-marker;
  transition: 0.3s;

  &:hover {
    @include shadow__custom-marker--hover;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }

  p {
    position: absolute;
    left: 0;
    top: $size--large;
    width: 100%;
    font-size: font-size(medium);

    span {
      color: white;
      background: rgb(0, 0, 0); /*fallback*/
      background: color(transparent-black);
      padding: $size--small;
    }
  }
}
