.details-section {
  border: 1px solid color(border);
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  display: flex;
  padding-bottom: $size--medium;
}

@for $i from 0 through 4 {
  .details-section-#{$i} {
    width: percentage(1/4);
  }
}
