@mixin details-section--extended($device-size) {
  @include mq($device-size) {
    @include filter--brown;
    width: 100% !important;

    .full-detail {
      display: block;
    }
  }
}

.details-section {
  display: flex;
  justify-content: center;

  height: 100%;

  align-items: flex-end;
  align-content: center;

  overflow: hidden;

  background: color(map);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include shadow--bottom-inset;

  @include filter--sepia;
  transition: all 0.5s;

  &:hover {
    @include details-section--extended(large);
  }

  article {
    width: 100%;
  }

  p {
    padding: $size--medium $size--small $size--medium $size--small;
    color: white;
    margin: 0;
    width: 100%;
  }

  .full-detail {
    display: none;
  }

  .detail-section__image {
    max-width: 100%;
  }
}

.details-section--active {
  @include details-section--extended(medium);
}

@for $i from 1 through 6 {
  .details-section-#{$i} {
    width: percentage(1/$i);
  }
}
