.details-section {
  border: 1px solid color(border);
  height: 100%;
  align-items: flex-end;
  align-content: center;
  justify-content: center;
  display: flex;
  padding-bottom: $size--medium;

  p {
    padding: 0 $size--small 0 $size--small;
  }
}

@for $i from 1 through 6 {
  .details-section-#{$i} {
    width: percentage(1/$i);
  }
}
